img {
  background aliceblue
}
.home-blog .hero h1 {
  display: block;
  margin: 0 auto 1.8rem;
  font-size: 2.5rem;
  color: #ffffff
}

.home-blog .hero .description {
  margin: 1.8rem auto;
  font-size: 1.6rem;
  line-height: 1.3;
  color: #ffffff
}
